<h1>Choose hard or soft elements</h1>

<h2>Soft Elements:</h2>
<ul>
  <% @softelements.each do |id, element| %>

  <div>
    <div class="card-img-top" src=>
      <h4 class="card-title"><%= element[:name] %></h4>
    </div>
  </div>


    <!-- card -->



  <% end %>
</ul>

<h2>Hard Elements:</h2>
<ul>
  <% @hardelements.each do |id, element| %>
    <li class="element"><%= element[:name] %></li>
  <% end %>
</ul>
