<div class="container">

  <%= image_tag "logo.jpg", alt: "Creating Vibrant Communities", class: 'logo' %>

  <%= link_to "GET STARTED", "/project/index", class: "button button-purple" %>

  <%= link_to "INFORMATION", "/pages/about", class: 'button' %>

</div>



