<h1>Your Project:</h1>

<h2>Name: <%= @project.name %></h2>
<p>Address: <%= @project.address %></p>

<%= link_to "Start Assessment", "/elements", class: "button button-purple" %>

<%= link_to 'Back', :back %>
