<h2>Soft Elements:</h2>

<p> Soft Elements pertain to the desired social and psychological outcomes we want people to experience in the places we create.</p>

<div class="grid">

  <%= @softelements.each do |id, element| %>

      <div class="card card-soft">
        <div>
          <%= image_tag element[whiteicon], class: 'whiteicon' %>
        </div>
        <div>
          <h4 class="card-title"><%= element[:name] %></h4>
        </div>
      </div>
  <% end %>

</div>

<%= link_to 'Back to Wheel', "pages/wheel" %>


