<h2>Hard Elements:</h2>

<% @hardelements.each do |id, element| %>

  <div class="card card-hard">
    <h4 class="card-title"><%= element[:name] %></h4>
  </div>

<% end %>

<%= link_to 'Back to Wheel', "pages/wheel" %>


