// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.container {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  justify-content: center;
  text-align: center;
  margin: auto;
  margin-top: 50px
}

.header {
  text-align: center;
  background: lightgray;
  color: white !important;
  font-size: 10px;
}

.grid {
  display: flex;                       /* establish flex container */
  flex-wrap: wrap;                     /* enable flex items to wrap */
  justify-content: space-around;

}
.card {
  flex: 0 0 30%;                       /* don't grow, don't shrink, width */
  height: 100px;
  margin-bottom: 5px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  padding-top: 20px;
  padding-bottom: 10px
}
