h1 {
  color: #424CEF;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
};

h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

p {
  font-family: 'Montserrat', sans-serif;
}

a {
  color: gray;
  font-family: 'Montserrat', sans-serif;
}
